:root {
	--table-border: #e5e7eb;
	--table-bg-even: transparent;
	--table-bg-odd: transparent;
	--table-header-bg: transparent;
	--table-text: currentColor;
}

div:has(> table) {
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

table {
	width: 100%;
	border-collapse: collapse;
	table-layout: auto;
	color: var(--table-text);
	font-size: var(--text-size-body);
	line-height: 1.5;
	caption-side: bottom;
	margin-bottom: var(--space-inset-s);
	text-align: left;

	& > thead {
		background: var(--table-header-bg);
		vertical-align: bottom;
	}

	& > tbody {
		vertical-align: top;
	}
}

tr {
	& > * {
		border-bottom: 1px solid var(--table-border);
		padding: 0.75rem 0.5rem;
		text-wrap: pretty;
	}

	& > th {
		font-weight: 600;
	}
}

thead > th {
	position: sticky;
	top: 0;
	z-index: 1;
}

@media (prefers-color-scheme: dark) {
	:root {
		--table-border: #374151;
		--table-bg-even: transparent;
		--table-bg-odd: hsla(230 10 16 / 0.5);
		--table-header-bg: transparent;
		--table-text: currentColor;
	}
}
