.l-document {
	display: grid;
	grid-template-columns: minmax(min(288px, 100%), 1fr);
	border-top: 1px solid var(--color-border);
	padding-block-start: var(--space-inset-xs);
	padding-block-end: var(--space-inset-xs);

	.l-document__sidebar {
		display: none;
	}

	.l-document__principal {
		max-width: 53.75rem;
	}

	@media (--screen-lg) {
		& {
			grid-template-columns: minmax(min(0px, 100%), 20rem) minmax(min(0px, 54rem), 1fr);
			align-items: baseline;
			column-gap: var(--space-3xl);
		}

		.l-document__sidebar {
			display: block;
			position: sticky;
			top: var(--space-stack-l);
			max-height: calc(95vh - 6rem);
			overflow-y: auto;
			scrollbar-width: thin;
			max-width: 27.5rem;
		}
	}
}
