.l-document {
	display: grid;
	grid-template-columns: minmax(min(288px, 100%), 1fr);

	.l-document__sidebar {
		display: none;
	}

	.l-document__principal {
		max-width: 60rem;
	}

	@media (--screen-lg) {
		& {
			grid-template-columns: minmax(min(310px, 100%), 32ch) auto;
			align-items: baseline;
			column-gap: var(--space-2xl);
		}

		.l-document__sidebar {
			display: block;
			position: sticky;
			top: var(--space-stack-l);
			height: calc(95vh - 6rem);
			overflow-y: auto;
			padding-inline-start: var(--space-stack-2xs);
			padding-inline-end: var(--space-stack-s);
			scrollbar-width: thin;
		}
	}
}
