.l-fluid-grid {
	box-sizing: content-box;
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(288px, 100%), 1fr));
	column-gap: var(--section-spacing);
}

.l-fluid-grid__block > :nth-child(1) {
	margin-block-start: var(--heading-flow-space);
}
