{%- set previousPost = collections.docs | getPreviousCollectionItem %}
{%- set nextPost = collections.docs | getNextCollectionItem %}

<nav class="c-docs-nav" aria-label="Documentation pages">
	<div class="c-docs-nav__inner">
		<ul class="c-docs-nav__group">
			{%- if previousPost %}
				<li class="c-docs-nav__item c-docs-nav__item--prev">
					<span class="c-docs-nav__label">Previous</span>
					<a href="{{ previousPost.url }}" rel="prev">
						<span class="c-docs-nav__title">{{ previousPost.data.title }}</span>
					</a>
				</li>
			{%- endif %}
			{%- if nextPost %}
				<li class="c-docs-nav__item c-docs-nav__item--next">
					<span class="c-docs-nav__label">Next</span>
					<a href="{{ nextPost.url }}" rel="next">
						<span class="c-docs-nav__title">{{ nextPost.data.title }}</span>
					</a>
				</li>
			{%- endif %}
		</ul>
	</div>
</nav>
