{%- set lang = lang or settings.defaultLanguage %}
{%- set nav = navigation[lang] or navigation[settings.defaultLanguage] %}
<div class="c-navigation-footer">
	{%- for group in nav.footer %}
		<div class="c-navigation-footer__section">
			<span class="u-label">{{ group.label }}</span>
			<ul class="c-navigation-footer__group">
				{%- for item in group.items %}
					{%- set active = 'active' if (item.url == page.url) %}
					<li><a class="c-navigation-footer-item {{ active }}" href="{{ item.url }}">{{ item.label }}</a></li>
				{%- endfor %}
			</ul>
		</div>
	{%- endfor %}
</div>
