<div class="c-navigation-footer">
	<div class="c-navigation-footer__inner">
		<span class="u-label">System</span>
		<ul class="c-navigation-footer__group">
			{% for item in navigation.footer %}
				{% set active = 'active' if (item.url == permalink) %}
				<li><a class="c-navigation-footer-item {{ active }}" href="{{ item.url }}">{{ item.label }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
