<div class="c-wordmark">
	<a class="c-wordmark__link" href="{{ "/" | locale_url }}">
		<span class="c-wordmark__title sr-only">{{ settings.title }}</span>
		{% set svgPath = "../../static/wordmark.svg" %}
		{% include svgPath %}
	</a>
</div>
