<br>
<section>
	<h2>In this chapter</h2>
	<ul>
	{%- for item in collections.docs %}
	{%- if item.data.topicSlug === topicSlug and item.url !== page.url %}
		<li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
	{%- endif %}
	{%- endfor %}
	</ul>
</section>
