{%- set currentPath = section | default([]) | join("/") %}
<ul>
{%- for item in collections.docs %}
{%- set itemPath = item.data.section | default([]) | join("/") %}
{%- if itemPath === currentPath and item.url !== page.url %}
	<li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
{%- endif %}
{%- endfor %}
</ul>
