<nav class="c-docs-toc{{ variant }}">
	<p><strong><a class="c-docs-toc__link" href="/" {% if page.url == "/" %}aria-current="page"{% endif %}>Welcome</a></strong></p>
	{% if not variant %}<hr>{% endif %}
	<p><strong>Introduction</strong></p>
	<ul class="c-docs-toc__block">
		<li><a class="c-docs-toc__link" href="/docs/" {% if page.url == "/docs/" %}aria-current="page"{% endif %}>Overview</a></li>
		<li><a class="c-docs-toc__link" href="/docs/baseline-concepts/" {% if page.url == "/docs/baseline-concepts/" %}aria-current="page"{% endif %}>Baseline concepts</a></li>
		<li><a class="c-docs-toc__link" href="/docs/quickstart/" {% if page.url == "/docs/quickstart/" %}aria-current="page"{% endif %}>Quickstart</a></li>
	</ul>
	{% set topics = collections.docs | groupby("data.topicTitle") %}
	{% for topic, items in topics %}
	{% set topicHref = "/docs/" ~ items[0].data.topicSlug ~ "/" %}
		{% if loop.index0 >= 1 %}
			{% if not variant %}<hr>{% endif %}
			<p><strong><a class="c-docs-toc__link" href="{{ topicHref }}" {% if page.url === topicHref %}aria-current="page"{% endif %}>{{ topic }}</a></strong></p>
			<ul class="c-docs-toc__block">
				{% for item in items %}
					{% if item.page.fileSlug !== "00.index" %}
						<li><a class="c-docs-toc__link" href="{{ item.page.url }}" {% if page.url === item.page.url %}aria-current="page"{% endif %}>{{ item.data.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}
	{% endfor %}
</nav>
