<nav class="c-docs-toc">
	<small><u>Documentation — Table of Contents</u></small>
	<br>
	<a href="/docs/">Overview</a>
	{% set topics = collections.docs | groupby("data.topicTitle") %}
	{% for topic, items in topics %}
		<p><strong>{{ topic }}</strong></p>
		<div class="c-docs-toc__block">
		{% for item in items %}
			<a href="{{ item.page.url }}">{{ item.data.title }}</a>
		{% endfor %}
		</div>
	{% endfor %}
</nav>
