<header>
	<div class="c-header u-wrapper">
		<div class="c-header__block">
			<p>
				<strong><a class="c-header__link" href="{{ "/" | locale_url }}">{{ site.title }}</a></strong>
			</p>
			<p>{{ site.tagline }}</p>
		</div>
		{% include "components/navigation.njk" %}
	</div>
</header>
