<header class="c-header">
	<div class="c-header__block">
		<p><strong><a class="c-header__link" href="/">{{ site.title }}</a></strong></p>
		<p>{{ site.tagline }}</p>
	</div>
	{% include "components/navigation.njk" %}
</header>
