<div class="c-wordmark">
	<a class="c-wordmark__link" href="{{ "/" | locale_url }}">
		<span class="c-wordmark__title sr-only">{{ site.title }}</span>
		<div class="c-wordmark__svg">
			{% set svgPath = "../../static/wordmark.svg" %}
			{% include svgPath %}
		</div>
	</a>
</div>
