/* @link https://utopia.fyi/type/calculator?c=320,14,1.2,1280,16,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|s-xl|s-2xl&g=s,l,2xl,12 */

:root {
	--step--2: clamp(0.6076rem, 0.5787rem + 0.1447vw, 0.6944rem);
	--step--1: clamp(0.7292rem, 0.6944rem + 0.1736vw, 0.8333rem);
	--step-0: clamp(0.875rem, 0.8333rem + 0.2083vw, 1rem);
	--step-1: clamp(1.05rem, 1rem + 0.25vw, 1.2rem);
	--step-2: clamp(1.26rem, 1.2rem + 0.3vw, 1.44rem);
	--step-3: clamp(1.512rem, 1.44rem + 0.36vw, 1.728rem);
	--step-4: clamp(1.8144rem, 1.728rem + 0.432vw, 2.0736rem);
	--step-5: clamp(2.1773rem, 2.0736rem + 0.5184vw, 2.4883rem);
}

:root {
	--step-px--2: 12px;
	--step-px--1: 14px;
	--step-px-0: 16px;
	--step-px-1: 20px;
	--step-px-2: 24px;
	--step-px-3: 28px;
	--step-px-4: 34px;
	--step-px-5: 40px;
}

:root {
	--step-rem--2: 0.75rem; /* 12px */
	--step-rem--1: 0.875rem; /* 14px */
	--step-rem-0: 1rem; /* 16px */
	--step-rem-1: 1.25rem; /* 20px */
	--step-rem-2: 1.5rem; /* 24px */
	--step-rem-3: 1.75rem; /* 28px */
	--step-rem-4: 2.125rem; /* 34px */
	--step-rem-5: 2.5rem; /* 40px */
}
