body {
  --GRAD: 0;
  font-variation-settings: "GRAD" var(--GRAD);
}

@media (prefers-contrast: more) { body { --GRAD: 700 } }
@media (prefers-contrast: less) { body { --GRAD: -50 } }

@media (prefers-color-scheme: dark) { body { --GRAD: -50 } }
@media (prefers-color-scheme: dark) and (prefers-contrast: more) { body { --GRAD: 150 } }
@media (prefers-color-scheme: dark) and (prefers-contrast: less) { body { --GRAD: -150 } }

body {
	display: flex;
	flex-direction: column;
}

body {
	font-family: var(--font-family-body);
	font-size: var(--text-size-body);
	line-height: var(--text-lineheight-default);
	color: var(--color-text-primary);
	background-color: var(--color-surface-default);
}

header> * + *,
main > * + * {
	margin-block-start: var(--flow-space, 1em);
}

header,
main,
footer {
	padding-block: var(--space-inset-s);
}

main,
footer {
	border-top: 1px solid var(--color-border);
}

footer {
	margin-block-start: auto;
}

p, li {
	max-width: 85ch;
	text-wrap: pretty;
	letter-spacing: 0.015em;
}

a {
	color: var(--color-accent);
	word-break: keep-all;

	&:hover {
		color: var(--color-accent-hover);
	}

	&[aria-current] {
		position: relative;
		margin-top: 0.1em;
	}

	&[aria-current]::after {
		content: "";
		position: absolute;
		inset: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		scale: 116% 140%;
		background-color: var(--color-surface-subtle);
		border-radius: 0.1em;
	}
}

:heading {
	color: tomato;
	margin-block-start: 1.5em;
}

h1 {
	font-size: var(--text-size-display);
	margin-top: var(--flow-space);
}

h2 {
	--flow-space: var(--heading-flow-space);
	font-size: var(--text-size-title);
}

h3 {
	--flow-space: var(--heading-flow-space);
	font-size: var(--text-size-lede);
}

ol {
	padding: 0;
	list-style-position: inside;
}

ul {
	padding-inline-start: 1.5rem;
}

li + li {
	margin-block-start: var(--space-stack-3xs);
}

pre, code:not(pre code) {
	background: var(--color-surface-subtle);
}

pre {
	border: 0.0625em solid var(--color-border-strong);
	padding: 0.5em;
	padding-inline-end: 0.75em;
	box-sizing: content-box;
	overflow: auto;
}

code:not(pre code) {
	padding-inline: 0.25em;
	border-radius: 0.1em;
	word-wrap: break-word;
}

blockquote {
	--flow-space: var(--space-stack-m);
	border: 0.0625em solid var(--color-border);
	border-left: 0.24em solid var(--alert-type, var(--color-border-strong));
	padding-block: 0.5em;
	padding-inline: 1em;
	box-sizing: content-box;
	max-width: fit-content;
	vertical-align: middle;
	margin-block: var(--space-inset-m);
	border-radius: 0 0.25em 0.25em 0;
	background-color: var(--color-surface-subtle);

	&.alert-info {
		--alert-type: var(--color-accent);
	}

	&.alert-success {
		--alert-type: var(--color-success);
	}

	&.alert-warning {
		--alert-type: var(--color-warning);
	}

	&.alert-danger {
		--alert-type: var(--color-danger);
	}
}

blockquote:has(details[open]) {
	max-width: unset;
}

details summary {
	cursor: pointer;
}

figure, picture {
	max-width: fit-content;
}

figure figcaption {
	font-size: var(--text-size-secondary);
	padding-block: 0.5rem;
	text-align: center;
}

hr {
	--flow-space: var(--space-stack-m);
	border: 0;
	border-top: 1px solid;
	color: var(--color-border);
	margin-block-start: var(--flow-space);
}
