body {
  --GRAD: 0;
  font-variation-settings: "GRAD" var(--GRAD);
}

@media (prefers-contrast: more) { body { --GRAD: 700 } }
@media (prefers-contrast: less) { body { --GRAD: -50 } }

@media (prefers-color-scheme: dark) { body { --GRAD: -50 } }
@media (prefers-color-scheme: dark) and (prefers-contrast: more) { body { --GRAD: 150 } }
@media (prefers-color-scheme: dark) and (prefers-contrast: less) { body { --GRAD: -150 } }

body {
	max-width: var(--wrapper-max-width);
	margin-inline: var(--wrapper-margin-inline);
	padding-inline: var(--wrapper-padding-inline);
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
}

body {
	font-family: var(--font-family-body);
	font-size: var(--body-text-size);
	line-height: var(--body-line-height);
	color: var(--text-color);
	background-color: var(--surface-color);
}

header> * + *,
main > * + * {
	margin-block-start: var(--flow-space, 1em);
}

header,
main,
footer {
	padding-block: 1rem;
}

main {
	max-width: 60rem;
}

footer {
	margin-block-start: auto;
}

p {
	max-width: 80ch;
}

p, li {
	text-wrap: pretty;
}

a {
	color: var(--link-color);
	word-break: keep-all;

	&:hover {
		color: var(--link-color-hover);
	}
}

:heading {
	color: tomato;
	margin-block-start: 1.5em;
}

h1 {
	font-size: var(--heading-1-size);
	margin-block-start: 1em;
}

h2 {
	--flow-space: var(--heading-flow-space);
	font-size: var(--heading-2-size);
}

h3 {
	--flow-space: var(--heading-flow-space);
	font-size: var(--heading-3-size);
}

ol {
	padding: 0;
	list-style-position: inside;
}

ul {
	padding-inline-start: 1.5rem;
}

pre, code:not(pre code) {
	background: var(--surface-color-subtle);
}

pre {
	border: 0.0625em solid var(--border-color);
	padding: 0.5em;
	padding-inline-end: 0.75em;
	box-sizing: content-box;
	overflow: auto;
}

blockquote {
	border: 0.0625em solid var(--border-color);
	border-left: 0.24em solid var(--alert-type, var(--color-border-strong));
	padding: 0.5em;
	padding-inline-end: 0.75em;
	box-sizing: content-box;
	max-width: fit-content;
	vertical-align: middle;
	margin-block: var(--space-inset-m);
	border-radius: 0 0.25em 0.25em 0;
	background-color: var(--surface-color-subtle);

	&.alert-info {
		--alert-type: var(--accent-color);
	}

	&.alert-success {
		--alert-type: var(--success-color);
	}

	&.alert-warning {
		--alert-type: var(--warning-color);
	}

	&.alert-danger {
		--alert-type: var(--danger-color);
	}
}

blockquote:has(details[open]) {
	max-width: unset;
}

details summary {
	cursor: pointer;
}

figure, picture {
	max-width: fit-content;
}

figure figcaption {
	font-size: var(--meta-text-size);
	padding-block: 0.5rem;
	text-align: center;
}

hr {
	color: var(--border-color-strong);
}
