.c-docs-toc,
.c-docs-toc--sidebar {
	> div:not(.c-docs-toc__children) {
		margin-block-start: var(--space-inset-m);
		margin-block-end: var(--space-inset-s);
	}

	* + p {
		margin-block-start: var(--space-inset-m);
	}

	.c-docs-toc__block {
		display: flex;
		flex-wrap: wrap;
		column-gap: var(--space-gap-s);
		row-gap: var(--space-gap-xs);
		margin-block-start: var(--space-m);
		padding: 0;
		list-style: none;
	}
}

.c-docs-toc__link {
	display: inline-block;
	padding-inline-start: 1em;
	color: var(--color-text-muted);
	text-decoration: none;
	max-width: 45ch;

	&:hover {
		color: var(--color-accent-text-muted);
		text-decoration: underline;
	}

	&[aria-current] {
		border-left: 0.2em solid currentColor;
		color: var(--color-accent-text);
		margin: 0;
		transform: translateX(-0.03em);
	}

	&[aria-current]:hover {
		color: var(--color-accent-text-muted);
	}

	&:not(li > a) {
		display: inline-block;
		padding-inline: 0.25em;
		color: var(--color-text);
		text-decoration: none;
		max-width: 45ch;
		border: 1px solid transparent;
	}

	&[aria-current]:not(li > a) {
		color: var(--color-text);
		border: none;
		max-width: 45ch;
		padding-inline: 0.25em;
		border: 1px solid transparent;
	}
}

.c-docs-toc__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.c-docs-toc__menu__caret {
	background: none;
	border: 0;
	cursor: pointer;
	padding: 0.25rem;
}

.c-docs-toc hr {
	margin-top: var(--space-m);
	margin-bottom: var(--space-m-l);
}
