.c-footer {
	--wrapper-max-width: 60rem;
	--wrapper-content-box: border-box;
	border-top: 1px solid var(--color-border);
	padding-block-start: var(--space-inset-xs);
	padding-block-end: var(--space-inset-xs);
}

.c-footer__inner {
	flex-wrap: wrap;
	gap: var(--space-gap-s);
	align-items: flex-start;
	justify-content: space-between;
}

.c-footer__group {
	padding-block: var(--space-inset-xs);
}
