.c-header {
	--wrapper-max-width: 100%;
	padding-block: var(--space-xs);
	width: 100%;
	background-color: var(--color-background-subtle);
	border-bottom: 1px solid var(--color-border);
}

.c-header__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: var(--space-3xl);
	row-gap: var(--space-m);
	align-items: center;
}

.c-header__group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: var(--space-cluster-m);
	align-items: baseline;
}

.c-header__link {
	color: var(--color-text);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.c-header__content > small {
	text-wrap: pretty;
}
