.c-header {
	margin-block-start: var(--space-xs);
	margin-block-end: var(--space-2xs);
	padding-block: var(--space-3xs);
}

.c-header__group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: var(--space-cluster-m);
	align-items: center;
}

.c-header__link {
	color: var(--color-text-primary);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.c-header__content > small {
	text-wrap: pretty;
}
