.c-lang-switcher {
	max-width: fit-content;
	padding-block: var(--space-inset-3xs);
}

.c-lang-switcher__inner {
	display: flex;
	align-items: flex-start;
	gap: var(--space-s);
}

.c-lang-switcher__item {
	margin-top: 0;
	color: var(--color-text-muted);
	text-decoration: none;
}

.c-lang-switcher__item:hover {
	color: var(--color-text);
	text-decoration: underline;
}
