.c-navigation {
	padding-block: var(--space-3xs);
}

.c-navigation__inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--space-m);
	row-gap: var(--space-xs);
	max-width: 100%;
	align-items: center;
}

.c-navigation__group {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	gap: var(--space-cluster-s);
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: flex-end;
}

.c-navigation__group li {
	margin: 0;
}

.c-navigation__content--text-right {
	text-align: right;
}

.c-navigation__link {
	color: var(--color-text);
	text-decoration: none;
	font-size: var(--text-size-secondary);

	&:hover {
		color: var(--color-accent-text);
		text-decoration: underline;
	}

	&[aria-current] {
		color: var(--color-accent-text);
	}

	&[aria-current]:hover {
		color: var(--color-accent-text);
	}

	svg {
		display: inline-block;
		vertical-align: -0.435em;
	}
}

.c-navigation--wrapped {
	width: 100%;
	flex: 1;
}
