.c-page-parts {
	padding-block: var(--space-inset-s);
}

.c-page-parts--top {
	margin-block-start: 2.025em;
}

.c-page-parts__inner {
	max-width: fit-content;
}

.c-page-parts__list {
	list-style-type: none;
	margin: 0;
	margin-block-start: var(--space-inset-3xs);
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	column-gap: var(--space-gap-s);
}
