.c-preferences-bar {
	display: flex;
	align-items: center;
	gap: var(--space-gap-xs);
	padding-block-start: 0.25rem;
	padding-block-end: 0.25rem;
	max-width: 100%;
	color: var(--color-text-muted);
	font-size: var(--text-size-muted);
}
