.c-theme-switcher {
	max-width: fit-content;
	padding-block: var(--space-inset-3xs);
}

.c-theme-switcher__inner {
	display: flex;
	align-items: flex-start;
	gap: var(--space-gap-s);
}

.c-theme-switcher__item {
	margin-top: 0;
	color: var(--color-text-muted);
	text-decoration: none;
	border: 0;
	text-box-trim: trim-both;
	padding: 0;
	background-color: transparent;
}

.c-theme-switcher__item:hover {
	color: var(--color-text);
	text-decoration: underline;
}
