.c-docs-toc,
.c-docs-toc--sidebar {
	> a {
		margin-block-start: var(--space-stack-m);
		display: inline-block;
	}

	* + p {
		margin-block-start: var(--space-stack-m);
	}

	.c-docs-toc__block {
		display: flex;
		flex-wrap: wrap;
		column-gap: var(--space-s);
		row-gap: var(--space-2xs);
		margin-block-start: 0.5rem;
		padding: 0;
		list-style: none;
	}
}

.c-docs-toc__link {
	display: inline-block;
	padding-inline-start: 1em;
	color: var(--text-color-muted);
	text-decoration: none;
	max-width: 45ch;

	&:hover {
		color: var(--link-color-hover);
		text-decoration: underline;
	}

	&[aria-current] {
		border-left: 0.12em solid currentColor;
		color: var(--link-color);
	}

	&[aria-current]:hover {
		color: var(--link-color-hover);
	}

	&:not(li > a) {
		display: inline-block;
		padding-inline-start: 0;
		color: var(--text-color);
		text-decoration: none;
		max-width: 45ch;
	}

	&[aria-current]:not(li > a) {
		text-decoration: underline;
		color: var(--text-color);
		border: none;
		max-width: 45ch;
	}
}
