.c-docs-steps, .c-docs-steps--compact {
	p:first-of-type {
		display: inline-block;
	}

	li > p:first-child + p {
		margin-top: var(--space-stack-2xs);
	}

	> ol:first-of-type > li + li, > ul:first-of-type > li + li {
	margin-block-start: var(--space-stack-l);
	}

	li > * + * {
		margin-block-start: var(--flow-space);
	}
}

.c-docs-steps--compact {
	ul:only-child {
		list-style: none;
		padding: 0;
	}

	> ol:first-of-type > li + li, > ul:first-of-type > li + li {
		margin-block-start: inherit;
	}
}
