.c-docs-steps {
	p:first-of-type {
		display: inline-block;
	}

	ul {
		padding: 0;
		list-style: none;
	}

	ol > li + li, ul > li + li {
	margin-block-start: var(--space-stack-l);
	}

	li > * + * {
		margin-block-start: var(--flow-space);
	}
}
