.c-docs-steps {
	p:first-of-type {
		display: inline-block;
	}

	ul {
		padding: 0;
		list-style: none;
	}

	li > p:nth-child(n + 2) {
		margin-top: 0;
	}

	ol:nth-child(1) > li + li, ul:nth-child(1) > li + li {
	margin-block-start: var(--space-stack-l);
	}

	li > * + * {
		margin-block-start: var(--flow-space);
	}
}
