.c-docs-toc {
	>a {
		margin-block-start: var(--space-stack-m);
		display: inline-block;
	}

	p {
		margin-block-start: var(--space-stack-m);
	}

	.c-docs-toc__block {
		display: flex;
		flex-wrap: wrap;
		column-gap: var(--space-s);
		row-gap: var(--space-2xs);
		margin-block-start: 0.5rem;
	}
}

.c-docs-toc__details {
	box-sizing: content-box;
	max-width: fit-content;
	padding-block: calc(var(--space-inset-xs) * 0.8 );
	padding-inline: var(--space-inset-xs);
	border: 0.08em solid var(--border-color-strong);
	border-radius: 0.375em;
	
	&[open]::details-content {
		padding-block: var(--space-inset-m);
		padding-inline: 0.2em;
	}

	summary::marker {
		content: "";
	}


	summary > span {
		display: inline-flex;
		gap: var(--space-2xs);
		align-items: center;
		line-height: 0;
	}

	summary > span > svg {
		width: 1em;
		height: 1em;
		flex-shrink: 0;
	}
}
