.c-docs-toc--sidebar {
	font-size: var(--text-size-secondary);

	.c-docs-toc__block {
		flex-direction: column;
		border-left: 1px solid var(--color-border);
		margin-block-start: 1em;
	}
	
	.c-docs-toc__block li {
		margin-left: -0.0875em;
	}
}
