.c-docs-toc {
	>a {
		margin-block-start: var(--space-s);
		display: inline-block;
	}

	p {
		margin-block-start: var(--space-s);
	}

	.c-docs-toc__block {
		display: flex;
		flex-wrap: wrap;
		column-gap: var(--space-s);
		row-gap: var(--space-2xs);
		margin-block-start: 0.5rem;
	}
}
