.c-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: var(--space-3xl);
	padding-block-start: var(--space-inset-s);
	padding-block-end: var(--space-inset-m);
	align-items: center;
}

.c-header__link {
	color: var(--color-text-primary);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
