.c-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: var(--space-3xl);
	margin-block-end: var(--space-inset-2xs);
	align-items: center;
}

.c-header__link {
	color: var(--color-text-primary);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
