.c-header {
	padding-block-start: var(--space-inset-xs);
	padding-block-end: var(--space-inset-xs);
}

.c-header__block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: var(--space-3xl);
	row-gap: var(--space-cluster-l);
	align-items: center;
}

.c-header__link {
	color: var(--color-text-primary);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.c-header__content > small {
	text-wrap: pretty;
}
