.c-navigation {
	ul {
		display: flex;
		list-style: none;
		gap: var(--space-s);
		padding: 0;
		margin: 0;
	}
}

.c-navigation__link {
  color: var(--text-color);
	text-decoration: none;
	font-size: var(--text-size-secondary);

	&:hover {
		color: var(--link-color-hover);
		text-decoration: underline;
	}

	&[aria-current] {
		color: var(--text-color);
		text-decoration: underline;
	}

	&[aria-current]:hover {
		color: var(--link-color-hover);
	}

	svg {
		display: inline-block;
		vertical-align: -.35em;
	}
}

