.c-navigation {
	ul {
		display: flex;
		list-style: none;
		gap: var(--space-cluster-s);
		padding: 0;
		margin: 0;
		align-items: center;
	}

	li {
		margin: 0;
	}
}

.c-navigation__link {
	color: var(--color-text-primary);
	text-decoration: none;
	font-size: var(--text-size-secondary);

	&:hover {
		color: var(--color-accent-hover);
		text-decoration: underline;
	}

	&[aria-current] {
		color: var(--color-text-primary);
	}

	&[aria-current]:hover {
		color: var(--color-accent-hover);
	}

	svg {
		display: inline-block;
		vertical-align: -0.435em;
	}
}
