<!DOCTYPE html>
<html lang="{{ lang | default(site.defaultLanguage) }}">
	<head>
		<baseline-head></baseline-head>
		{% include "components/head-languages.njk" %}
		<meta name="color-scheme" content="light dark">
		<meta name="generator" content="{{ eleventy.generator }}">
	</head>
	<body>
		<a href="#main" class="skip-link">
			Skip to main content
		</a>
		<header>
			<div>
			<p><strong>{{ site.title }}</strong></p>
			<p>{{ site.tagline }}</p>
			</div>
			<nav>
				{% set lang = lang or site.defaultLanguage %}
				{% set home = collections.translations.homepage[lang] or collections.translations.homepage[site.defaultLanguage] %}
				{% set homeText = { en: "Homepage", nl: "Homepage", fr: "Accueil" } %}
				{% set docText = { en: "Documentation", nl: "Documentatie" } %}
				<a href="{{ home.url }}">{{ homeText[lang] or homeText[site.defaultLanguage]}}</a>&emsp;<a href="/docs/">{{ docText[lang] or docText[site.defaultLanguage]}}</a>&emsp;|&emsp;<a href="https://github.com/apleasantview/eleventy-plugin-baseline" target="_blank">GitHub</a>
			</nav>
		</header>
		<main id="main" tabindex="-1">
			{% block content %}
				<p>
					No content found.
				</p>
			{% endblock %}
		</main>
	</body>
	<footer>
		{% include "components/language-switcher.njk" %}
		<small>Build: {{ helpers.buildCommit() | safe }}</small>
		{% include "components/theme-switcher.njk" %}
	</footer>
</html>
