<!DOCTYPE html>
<html lang="{{ site.defaultLanguage }}">
	<head>
		<baseline-head></baseline-head>
		<meta name="generator" content="{{ eleventy.generator }}">
	</head>
	<body>
		<a href="#main" class="skip-link">
			Skip to main content
		</a>
		<header>
			<h1>{{ site.title }}</h1>
			<p>{{ site.tagline }}</p>
			<p><a href="{{ site.baseURL | htmlBaseUrl}}">Home</a></p>
		</header>
		<main id="main" tabindex="-1">
			<h2>{{ title }}</h2>
			{% block content %}
				<p>
					No content found.
				</p>
			{% endblock %}
		</main>
	</body>
	<footer>
		<small>Build: {{ helpers.buildCommit() }}</small>
	</footer>
</html>
