{% extends "layouts/base.njk" %}

{%- block content %}
	{%- include "components/c-docs-toc--details.njk" %}
	<div class="l-document">
		<div class="l-document__breadcrumbs">{% include "components/c-breadcrumbs.njk" %}</div>
		<!-- sidebar -->
		<div class="l-document__sidebar">{% include "components/c-docs-toc--sidebar.njk" %}</div>
		<!-- content -->
		<div class="l-document__content">
			<div class="u-wrapper">
				<article class="u-flow" {% if not baselineExcludeFromGraph %}data-pagefind-body{% endif %}>
					{%- if _pagebreak %}
						<span class="u-label c-page-parts--top">Page {{ _pagebreak.number }} of {{ _pagebreak.total }}</span>
					{%- endif %}
					<h1>{{ title }}</h1>
					{{ content | safe }}
					{%- include "components/c-page-parts.njk" %}
				</article>
			</div>
		</div>
		<!-- aside -->
		<div class="l-document__aside">{% include "partials/document-aside.njk" %}</div>
		<div class="l-document__navigation">{%- include "components/c-docs-nav.njk" %}</div>
	</div>
{%- endblock %}
