{% extends "layouts/base.njk" %}

{% block content %}
	{{ content | safe }}

	<div style="max-width: 48rem; display: flex; flex-wrap: wrap; justify-content: space-between; box-sizing: content-box; padding-inline: 0.5rem;">
		{% include "./components/docs-nav.njk" %}
		{% include "./components/docs-toc.njk" %}
	</div>

{% endblock %}
