.details:has(.u-label) {
	summary {
		display: revert;
		font-size: var(--text-size-body);
		font-weight: var(--font-weight-normal);
		color: var(--color-text);
		text-transform: unset;
		letter-spacing: var(--text-letterspacing-body);
	}
}
