/* 01. Settings */
@import "./settings/colors.css";
@import "./settings/colors-dark.css";
@import "./settings/type.css";
@import "./settings/space.css";

/* 02. Tools */

/* 03. Generic */
@import "./generic/semantic-tokens.css" layer(tokens);
@import "./generic/elements-defaults.css" layer(tokens);
@import "./generic/modern-reset.css" layer(reset);

/* 04. Elements */
@import "./elements/base.css";
@import "./elements/skip-link.css";

/* 05. Objects */

/* 06. Components */
@import "./components/docs-toc.css";

/* 07. Utilities */
@import "./utilities/prism.css";

/* CSS is organised followng ITCSS and BEMIT naming conventions, see:
* @link https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/
* @link https://benmarshall.me/itcss/
*/
