---
title: Navigator Core
permalink: /navigator-core.html
---

<!DOCTYPE html>
<html lang="{{ site.defaultLanguage }}">

<head>
	<baseline-head></baseline-head>
</head>

<body>
	<a href="#main" class="skip-link">
		Skip to main content
	</a>
	<header>
		<h1>{{ site.title }} Navigator</h1>
		<div>
			<p>{{ site.tagline }}</p>
		</div>
	</header>
	<main id="main" tabindex="-1">
		<p><a id="go-back" href=""><span style="vertical-align: text-bottom;">&#8592;</span>&nbsp;Go back</a></p>
		<h2><u>Navigator</u></h2>
		{% for key, value in _navigator() %}
		<details>
			<summary><strong>{{ key }}</strong></summary>
			{% if value | isString %}
			<pre>{{ value | safe }}</pre>
			{% else %}
			<pre>{{ value | _inspect({ depth: inspectorDepth }) }}</pre>
			{% endif %}
		</details>
		{% endfor %}
	</main>
	<script>
		document.getElementById("go-back").addEventListener("click", (event) => {
			event.preventDefault();
			history.back();
		});
	</script>
</body>
<footer>
	<small>Navigator Core — Eleventy Plugin Baseline</small>
</footer>

</html>
