table {
	--border-width-default: 1px;
	border-collapse: collapse;
	width: 100%;
	margin-block: var(--space-inset-s);
}

caption {
	caption-side: bottom;
	padding-block: 0.5em;
	color: var(--color-text-muted);
	font-size: 0.925em;
}

th,
td {
	border: var(--border-width-default) solid var(--color-border);
	padding: 0.5em 0.75em;
	vertical-align: middle;
	text-wrap: pretty;
}

th {
	text-align: left;
	background: var(--color-background-subtle);
}

th,
td:first-child {
	font-family: var(--font-family-mono);
	font-size: var(--text-size-secondary);
	line-height: 1.2;
}

.u-overflow--x td {
	white-space: nowrap;
}

@media (--screen-xl) {
	th,
	td {
		vertical-align: text-top;
	}

	.u-overflow--x td {
		white-space: wrap;
	}
}
