---
title: Homepage of docs
permalink: /
description: you know it
head:
  title: "overriding titles dude"
  link: [
    { rel: "something", src: "something else"}
  ]
---

{% extends "layouts/base.njk" %}

{% block content %}
	<p><strong><u>Collections.all</u></strong></p>
	{% for item in collections.all %}
	<p><a href="{{ item.url }}">{{ item.url }}</a></p>
	{% endfor %}
	<p><strong><u>Core navigator</u></strong></p>
	{% for key, value in _context() %}
		<details open>
			<summary><strong>{{ key }}</strong></summary>
			{% if value | isString %}
			<pre>{{ value }}</pre>
			{% else %}
			<pre>{{ value | inspect({depth: 4}) }}</pre>
			{% endif %}
		</details>
	{% endfor %}
{% endblock %}

