---
title: Homepage of docs
meta: very important page
permalink: /
---

{% extends "layouts/base.njk" %}

{% block content %}
	<p><strong><u>Collections.all</u></strong></p>
	{% for item in collections.all %}
	<p><a href="{{ item.url }}">{{ item.url }}</a></p>
	{% endfor %}
	<p><strong><u>Core navigator</u></strong></p>
	{% for key, value in _navigator() %}
		<details open>
			<summary><strong>{{ key }}</strong></summary>
			{% if value | isString %}
			<pre>{{ value }}</pre>
			{% else %}
			<pre>{{ value | inspect() }}</pre>
			{% endif %}
		</details>
	{% endfor %}
{% endblock %}

