---
title: Possums
pagination:
  data: possums
  size: 1
  alias: possum
permalink: "possums/{{ possum.name | slugify }}/"
---

{% extends "layouts/base.njk" %}

{% block content %}
	{{ possum.name }} is {{ possum.age }} years old.
	<nav aria-labelledby="my-pagination">
		<h2 id="my-pagination">This is my Pagination</h2>
		<ol>
			<li>{% if page.url != pagination.href.first %}<a href="{{ pagination.href.first }}">First</a>{% else %}First{% endif %}</li>
			<li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
	{%- for pageEntry in pagination.pages %}
			<li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a></li>
	{%- endfor %}
			<li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
			<li>{% if page.url != pagination.href.last %}<a href="{{ pagination.href.last }}">Last</a>{% else %}Last{% endif %}</li>
		</ol>
	</nav>
	<p><strong>Collections.all</strong></p>
	{% for item in collections.all %}
	<p><a href="{{ item.url }}">{{ item.url }}</a></p>
	{% endfor %}
{% endblock %}
