<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- if not site.noindex -%}
{%- for item in collections.all -%}
{%- if not item.data.eleventyExcludeFromCollections and (not item.data.sitemap or item.data.sitemap.ignore != true) -%}
{%- set pageLang = item.data.lang or site.defaultLanguage -%}
{%- if (not isMultilingual) or (not sitemapLang) or (pageLang == sitemapLang) -%}
{%- set absoluteUrl = item.url | htmlBaseUrl -%}
{%- set lastmod = item.data.sitemap and item.data.sitemap.lastmod or item.date -%}
<url>
<loc>{{ absoluteUrl }}</loc>
{%- if lastmod -%}<lastmod>{{ date.toUTCISO(lastmod) }}</lastmod>{%- endif -%}
{%- if item.data.sitemap and item.data.sitemap.changefreq -%}<changefreq>{{ item.data.sitemap.changefreq }}</changefreq>{%- endif -%}
{%- if item.data.sitemap and item.data.sitemap.priority is defined -%}<priority>{{ item.data.sitemap.priority }}</priority>{%- endif -%}
{%- if item.data.translationKey and collections.translations and collections.translations[item.data.translationKey] -%}
{%- for language, item in collections.translations[item.data.translationKey] -%}
<xhtml:link rel="alternate" hreflang="{{ item.lang }}" href="{{ item.url | htmlBaseUrl }}" />
{%- endfor -%}
{%- endif -%}
</url>
{%- endif -%}
{%- endif -%}
{%- endfor -%}
{%- endif -%}
</urlset>
