{% set toc = _node.headings %}
{% if toc.length %}
<nav class="toc" aria-labelledby="toc-title">
	<p id="toc-title">On this page</p>
	<ol class="toc-list">
	{% for heading in toc.slice(1) %}
		<li class="toc-item toc-level-{{ heading.level }}">
			<a href="#{{ heading.id }}">
				{{ heading.text }}
			</a>
		</li>
	{% endfor %}
	</ol>
</nav>
{% endif %}


<hr>

{% set backlinks = _backlinks %}
{% if backlinks.length %}
<nav aria-labelledby="backlinks-title">
	<details>
		<summary id="backlinks-title">Backlinks <small><em>- Linked from</em></small></summary>
		<ul class="backlinks u-flow" style="list-style: none; padding-inline: 0.85rem; font-size: var(--text-size-secondary);">
		{% for from, links in backlinks | groupby('from') %}
		{% set node = _navigator.nodes[from] %}
			<li>
				<a href="{{ from }}">{{ node.title or from }}</a> ({{ links | length }})
				{% if node.excerpt %}
				<div style="line-height: var(--text-lineheight-tight);">
					<small><em>"{{ node.excerpt | truncate(90, true, "...") }}"</em></small>
				</div>
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	</details>
</nav>
{% endif %}


{% set outgoing = _outgoing %}
{% if outgoing.length %}
<nav aria-labelledby="outgoing-title">
	<details>
		<summary id="outgoing-title">Outgoing links</summary>
		<ul class="outgoing u-flow" style="list-style: none; padding-inline: 0.85rem; font-size: var(--text-size-secondary);">
		{% for to, links in outgoing | groupby('to') %}
		{% set node = _navigator.nodes[to] %}
		{% if links[0].type === "external" %}
			<li>
				<a href="{{ to }}">{{ node.title or to }}</a> ({{ links | length }})
				{% if node.excerpt %}
				<div style="line-height: var(--text-lineheight-tight);">
					<small><em>"{{ node.excerpt | truncate(90, true, "...") }}"</em></small>
				</div>
				{% endif %}
			</li>
		{% endif %}
		{% endfor %}
		</ul>
	</details>
</nav>
{% endif %}

