<footer>
	<div class="u-wrapper">
		<div class="c-footer">
			<div class="c-footer__block">
				<div class="c-footer__content">
					<small>Open source under MIT</small>
					<br>
					<small>&copy; 2026 - a project by <a href="https://www.apleasantview.com/">a pleasant view</a></small>
				</div>
			</div>
		</div>
	</div>
</footer>
