<header>
	<div class="u-wrapper">
		{% include "components/top-bar.njk" %}
		<div class="c-header">
			<div class="c-header__block">
				<div class="c-header__content">
					{% include "components/wordmark.njk" %}
					<small>{{ settings.tagline }}</small>
				</div>
				{%- include "components/navigation.njk" %}
			</div>
		</div>
	</div>
</header>
