<small>
	{%- for item, value in settings.languages %}
		{%- if item === settings.defaultLanguage %}
			<a lang="{{ item }}" hreflang="{{ item }}" href="/">{{ value.languageName }}</a>
		{%- else %}
			&emsp;<a lang="{{ item }}" hreflang="{{ item }}" href="/{{ item }}/">{{ value.languageName }}</a>
		{%- endif %}
	{%- endfor %}
</small>
