.l-document,
.l-document--footer {
	--content-max-width: 60rem;
	--content-min-width: 288px;
	--wrapper-max-width: 60rem;
	--wrapper-margin-inline: auto;
	--wrapper-padding-inline: var(--space-inset-s);
	--wrapper-content-box: border-box;
	display: grid;
	grid-template-columns: [content] minmax(min(var(--content-min-width), 100%), 1fr);
	padding-block: var(--space-inset-s);
	align-items: start;
	column-gap: var(--space-gap-l);
	justify-content: center;

	@media (--screen-lg) {
		&:has(.l-document__sidebar) {
			grid-template-columns:
				[sidebar] minmax(min(0px, 100%), 304px)
				[content] minmax(min(var(--content-min-width), 100%), var(--content-max-width));
		}

		&:has(.l-document__aside) {
			grid-template-columns:
				[sidebar] minmax(min(0px, 100%), 304px)
				[content] minmax(min(var(--content-min-width), 100%), var(--content-max-width))
				[aside] minmax(min(0px, 100%), 304px);
		}
	}
}

.l-document__content,
.l-document__breadcrumbs,
.l-document__navigation {
	grid-column: content;
}

.l-document__breadcrumbs > * {
	max-width: var(--content-max-width);
	margin-inline: auto;
}

.l-document__navigation > * {
	margin-block-start: var(--space-inset-s);
	max-width: var(--content-max-width);
	margin-inline: auto;
}

.l-document__sidebar,
.l-document__aside {
	display: none;
}

.l-document__sidebar {
	grid-column: sidebar;
	padding-inline: var(--space-inset-xs);

	@media (--screen-lg) {
		& {
			display: block;
			top: var(--space-inset-l);
			max-height: calc(95vh - 6rem);
			overflow-y: auto;
			scrollbar-width: thin;
			max-width: 27.5rem;
		}
	}
}

.l-document__aside {
	grid-column: aside;
	padding-inline: var(--space-inset-xs);

	> aside {
		margin-block: var(--space-inset-3xs);
		padding-block: var(--space-inset-s);
	}

	@media (--screen-lg) {
		& {
			display: block;
			width: 100%;
			position: sticky;
			top: var(--space-inset-l);
			max-height: calc(95vh - 6rem);
			overflow-y: auto;
			scrollbar-width: thin;
			justify-self: center;
		}
	}
}
